.node {
  display: inline-block;
  width: 25px;
  height: 25px;
  outline: 0.5px solid #afd8f8;
  outline: 0.5px solid dodgerblue;
  // outline: 1px solid slateblue;
  background-color: white;
}

.Start {
  // outline: 1px solid rgb(54,123,97);
  background-color: rgb(54,123,97);
  background-color: seagreen;
}

.End {
  // outline: 1px solid rgb(233,51,35);
  background-color: rgb(233,51,35);
  background-color: maroon;
}

.Wall {
  animation: genericAnimation;  
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
  outline: 0.5px solid rgb(15, 47, 62);
  background-color: rgb(15, 47, 62);
}


.Weighted {
  animation: genericAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-image: url('../../assets/lock.svg'); 
  background-size: 25px;
}

@keyframes genericAnimation {
  0% {
    transform: scale(0.2);
  }
  
  80% {
    transform: scale(1.3);
  }
  
  100% {
    transform: scale(1);
  }
}

.Visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgb(46, 64, 83);
    // background-color: blue;
    border-radius: 100%;
  }

  30% {
    transform: scale(0.8);
    background-color: #588BAE;
    // background-color: darkviolet;
  }
  
  100% {
    transform: scale(1);
    background-color: rgb(55,105,178);
    // background-color: rebeccapurple;
  }
}

.Visited_Weighted {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-image: url('../../assets/unlock.svg'); 
  background-size: 25px;
}


.Shortest {
  animation-name: shortestPathAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPathAnimation {
  0% {
    transform: scale(0.5);
    background-color: darkolivegreen;
    border-radius: 100%;
  }

  // 25% {
  //   background-color: rgb(108, 139, 46);
  // }

  // 50% {
  //   background-color: rgb(161, 121, 12);
  // }

  90% {
    transform: scale(1.7);
  }

  100% {
    transform: scale(1);
    background-color: rgb(244,232,88);
    // background-color: #966FD6;
}
}

.Shortest_Weighted {
  animation-name: shortestPathAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-image: url('../../assets/unlock.svg'); 
  background-size: 25px;
}